<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Web</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sweetalert2.min.css" rel="stylesheet">
    <link href="/css/dataTables.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div id="preloder">
    <div class="loader"></div>
</div>
<div class="container">
    <div th:replace="~{_nav.html}"></div>
    <div class="col-12 mt-5">
        <h1 class="text-center text-uppercase">Proxy</h1>
    </div>
    <div class="row g-3 justify-content-between">
        <div class="col-auto">
            <a class="btn btn-primary" href="/">
                Back To Check
            </a>
        </div>
        <div class="col-auto">

            <button id="btn_add_proxy" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add
            </button>
        </div>
        <div class="col-12">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Telecom Operator</th>
                    <th scope="col" class="text-center">Proxy</th>
                    <th scope="col" class="text-center">Port</th>
                    <th scope="col" class="text-center">Username</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody id="table_show_data">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Proxy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="mb-3 col-12">
                    <label for="proxy_telecom" class="form-label">Telecom Operator:</label>
                    <input type="text" class="form-control" id="proxy_telecom" placeholder="Enter proxy telecom name">
                    <input type="text" class="form-control d-none" id="proxy_id" hidden="hidden">
                </div>
                <div class="mb-3 col-9">
                    <label for="proxy_ip" class="form-label">Proxy Address:</label>
                    <input type="text" class="form-control" id="proxy_ip" placeholder="proxy.example.com">
                </div>
                <div class="mb-3 col-3">
                    <label for="proxy_port" class="form-label">Port:</label>
                    <input type="text" class="form-control" id="proxy_port" placeholder="8080">
                </div>
                <div class="mb-3 col-6">
                    <label for="proxy_username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="proxy_username" placeholder="Enter proxy username">
                </div>
                <div class="mb-3 col-6">
                    <label for="proxy_password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="proxy_password">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label user-select-none curso-poiter" for="flexCheckDefault">
                        Show Password
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn_save_status" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/dataTables.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    function closeLoader() {
        $('#preloder').css('display', 'none').find('.loader').css('display', 'none');
    }
    $(document).ready(function () {
        let datatable = new DataTable('#myTable', {
            ajax: {
                url: '/api/v1/proxy/getAll',
                dataSrc: '',
                complete:function () {
                    closeLoader();
                }
            },columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    },
                    orderable: false,
                },
                {
                    data: 'name', render: function (data) {
                        return data ? data : 'N/A';
                    }
                },
                {
                    data: 'proxy', render: function (data) {
                        return data ? data : 'N/A';
                    },
                    className: "text-start"
                },
                {
                    data: 'port', render: function (data) {
                        return data ? data : 'N/A';
                    },
                    className: "text-start"
                },
                {
                    data: 'username', render: function (data) {
                        return data ? data : 'N/A';
                    },
                    className: "text-start"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                        <button type="button" class="btn btn-primary btn_edit" data-id="${row.id}">Edit</button>
                        <button type="button" class="btn btn-danger btn_del" data-id="${row.id}">Del</button>
                    `;
                    },
                    orderable: false,
                }
            ],
            createdRow: function (row, data, dataIndex) {
                $(row).find('td').eq(0).html(dataIndex + 1);
            },
            columnDefs: [
                {className: "text-center", targets: [0,1, 5]}
            ],
            language: {
                searchPlaceholder: "Search...",
                search: "",
                lengthMenu: "_MENU_",
                paginate: {
                    first: "First",
                    last: "Last",
                    next: "Next",
                    previous: "Previous"
                }
            },
        });
        $(document).on('click', "#btn_save_status", function () {
            let telecom = $("#proxy_telecom").val();
            let address = $("#proxy_ip").val();
            let port = $("#proxy_port").val();
            let user = $("#proxy_username").val();
            let pass = $("#proxy_password").val();
            let id = $("#proxy_id").val();

            if (typeof telecom !== 'string' || telecom.length <= 3) {
                Toast("Telecom must be a string with more than 3 characters", "error");
                return;
            }
            if (address.length <= 5) {
                Toast("Address cannot be empty and must be more than 5 characters", "error");
                return;
            }
            if (isNaN(port) || port.length <= 1) {
                Toast("Port must be a number and must have more than 1 character", "error");
                return;
            }

            $.ajax({
                url:"/api/v1/proxy/save",
                type:"POST",
                contentType: "application/json",
                data:JSON.stringify({
                    id:id,
                    name:telecom,
                    proxy:address,
                    port:port,
                    username:user,
                    password:pass,
                }),
                success:function (response) {
                    console.log(response)
                    $("#exampleModal").modal("hide")
                    let isExistingRow = false;
                    datatable.rows().every(function () {
                        let rowData = this.data();
                        if (Number(rowData.id) === Number(response.id)) {
                            this.data(response).draw();
                            isExistingRow = true;
                            return false;
                        }
                    });
                    if (!isExistingRow) {
                        datatable.row.add(response).draw();
                    }
                    Toast("success", "success");
                },error:function (e) {
                    console.log(e)
                    if (e.getResponseHeader('status')=='unique'){
                        Toast("Telecom already exists",'error')
                    }else{
                        Toast("error !",'error')
                    }
                }
            })
        });

        $("#flexCheckDefault").on("change", function () {
            let input = $("#proxy_password");
            if ($(this).is(":checked")) {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(document).on("click", "#btn_add_proxy", function () {
            $("#proxy_id").val("");
            $("#proxy_port").val('');
            $("#proxy_telecom").val('');
            $("#proxy_ip").val('');
            $("#proxy_username").val('');
            $("#proxy_password").val('');
            $("#exampleModalLabel").text("Add new Proxy");
        });




        $('#myTable tbody').on('click', '.btn_edit', function () {
            let row = $(this).closest('tr');
            let rowData = datatable.row(row).data();
            $("#proxy_ip").val(rowData.proxy);
            $("#proxy_port").val(rowData.port);
            $("#proxy_telecom").val(rowData.name);
            $("#proxy_username").val(rowData.username);
            $("#proxy_password").val(rowData.password);
            $("#proxy_id").val(rowData.id);
            $("#exampleModalLabel").text("Update Proxy");
            $("#exampleModal").modal('show');
        });

        $('#myTable tbody').on('click', '.btn_del', function () {
            let row = $(this).closest('tr');
            let id = $(this).data('id');
            ConfirmSweet("Are you sure?", "You won't be able to revert this!", "Cancel", "Yes").then((res) => {
                if (res) {
                    let tr = $(this).closest("tr");
                    let st = tr.find("span.col_status").text();
                    $.ajax({
                        url: "api/v1/proxy/delete",
                        type: "DELETE",
                        data: {
                            id: id,
                        },
                        success: function () {
                            Toast("success !", 'success');
                            datatable.row(row).remove().draw();
                        },
                        error: function (e) {
                            if (e.getResponseHeader("status") == "constrain") {
                                Toast("Proxy in use", 'error');
                            }
                        }
                    });
                }
            });
        });



        function sendAjaxRequest(st, ms) {
            $.ajax({
                url: "/api/v1/status/save",
                type: "POST",
                data: {
                    status: st,
                    message: ms,
                },
                success: function (response) {
                    $("#exampleModal").modal('hide');
                    Toast("success !", 'success');
                    let addSt = false;
                    $(".col_status").each((index, element) => {
                        let stb = $(element).text();
                        if (Number(stb) === Number(st)) {
                            $(element).closest("tr").find("span.col_message").text(response.message);
                            addSt = true;
                        }
                    });
                    if (!addSt) {
                        let newRow = datatable.row.add([
                            '',
                            `<span class="col_status">${response.status}</span>`,
                            `<span class="col_message">${response.message}</span>`,
                            `<button type="button" class="btn btn-primary btn_edit">Edit</button>
                        <button type="button" class="btn btn-danger btn_del">Del</button>`
                        ]).draw().node();
                        $(newRow).find('td').eq(0).html(datatable.rows().count());
                    }
                },
                error: function (e) {
                    $("#exampleModal").modal('hide');
                    alert(e.getResponseHeader("status"));
                }
            });
        }

        function Toast(message, status) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: status,
                title: message
            });
        }

        function ConfirmSweet(title, message, btnCancel, btnConfirm) {
            return new Promise((resolve, reject) => {
                Swal.fire({
                    title: title,
                    text: message,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: btnConfirm,
                    cancelButtonText: btnCancel
                }).then((result) => {
                    if (result.isConfirmed) {
                        resolve(true);
                    } else {
                        resolve(false);
                    }
                });
            });
        }
    });

</script>
</body>

</html>